@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    502 S 16TH ST<br />
    Laramie, WY 82070<br />
    <abbr title="Phone">P:</abbr>
    425.985.6762
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cadence.sweetser@outlook.com">cadence.sweetser@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:HandelIT@Handel.com">handelit@handel.com</a>
</address>