@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Ski Weather Eye</h1>
        <p class="lead">A weather tracker using weather information provided by openweathermaps's free API. </p>
        <p><a href="https://localhost:44367/Home/Weather?Length=4" class="btn btn-primary btn-lg">Try it out! &raquo;</a></p>
        <p><a class="btn btn-default" href="https://openweathermap.org/api">API Info &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Placeholder 1</h2>
        <p>
            Placeholder 1 Description.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder 2</h2>
        <p>Placeholder 2 Description.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder 3</h2>
        <p>Placeholder 3 Description.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>