@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Ski Weather Eye</h1>
        <p class="lead">A weather tracker using weather information provided by OpenWeatherMap's free API. </p>
        <p><a href="https://localhost:44367/Home/Weather?Length=4" class="btn btn-primary btn-lg">Try it out! &raquo;</a></p>
        <p><a class="btn btn-default" href="https://openweathermap.org/api">API Info &raquo;</a></p>
    </div>